[Desktop Entry]
Name=Ayudame
NoDisplay=true
MimeType=x-scheme-handler/ayudame;
TryExec=ayudame
Exec=ayudame %u
Icon=ayudame
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=ayudame
